<!DOCTYPE html>
<html>
  <head>
    <title>File Upload Test</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Upload a File</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
      </form>
    </div>
  </body>
</html>
